* {
    box-sizing: border-box;
}
body{
    background-image: url(/img/fondo.jpg);
    backdrop-filter: blur(10px);
    padding: 10px;
    font-family:'Maven Pro', sans-serif;
}
h1{
    color: rgba(55, 33, 221, 0.7);
}

div{
    margin: 10px;
    border: 2px dotted royalblue;
    padding: 15px;
    background-color: rgba(32, 219, 157, 0.112);
    text-align: left;
}

#titulo{
    font-size: 1.5em;
    background-color: rgba(132, 93, 223, 0.5);
    color: rgb(32, 25, 128);
}
p > u{
    background-color: rgba(169, 82, 231, 0.5);
    font-size: 1.15em;
}